<mat-card class="dashboard-item-container">
  <mat-card-title>
    <p class="dashboard-title-header">
      {{title}}
      <span class="fill-remaining-space"></span>
      <button mat-icon-button (click)="onClone()">
        <mat-icon>file_copy</mat-icon>
      </button>
      <button mat-icon-button (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
    </p>
  </mat-card-title>
  <mat-card-subtitle *ngIf="subheader">
    {{subheader}}
  </mat-card-subtitle>
  <mat-card-content>
    <template #container></template>
  </mat-card-content>
</mat-card>
